<!DOCTYPE html>
<html lang="en">
    <head>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
    <header>
        <h1>Title</h1>
    </header>
    <p>Alarm Deletion</p>
    <form action="" method="post">
        <a href="javascript:history.back()">Go Back</a>
        <input action="" method="post" type="submit" value="Delete" />
    </form>
    </body>
</html>
